@model IndexViewModel
<!DOCTYPE html>
<html>  
    <head>
        <title>Goblin Personal Finance</title>
    </head>
    <body>
        <h1>Welcome to GoblinPF!</h1>
        <h3>Keep tabs on your gold son</h3>
        <form method="post">
            <div>
                <label asp-for="Cost"></label>
                <input asp-for="Cost" />
                <label asp-for="Category" />
                <select asp-for="Category">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="category.Name">@category.Name</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" value="Enter" />
            </div>
        </form>
    </body>
</html>