<!DOCTYPE html>
<html>  
    <head>
        <title>Goblin Personal Finance</title>
    </head>
    <body>
        <h1>Welcome to GoblinPF!</h1>
        <h3>Keep tabs on your gold son</h3>
    </body>
</html>